body{
    background-color: blue;
}

h1{
    color: yellow;
    text-align: center;
    font-size: 8vw;
    margin: 0;
    text-shadow: 2px 2px orange;
}
p{
    color:yellow;
}
b{
    color: yellow;
}
.contact-form{
    width: 100vw;
}
.form-group{
    width: 50vw;
    position: relative;
    margin: auto;
}