body{
    background-color: #f1a566 !important;
}
a h2{
    color: #f1a566 !important;
}
.example{
    margin:auto; 
    padding: 10px 20px 0 0; 
    max-width:1000px;
}
.narrow{
    margin-top:100px;
}
.genres{
    vertical-align:top;
}
.col-12 a{
    color: black;
}
.col-12 a:hover{
    color: black;
}
.border1{
    border-left:6px solid black;
}
img{
    height:222px; 
    width:144px; 
    margin-left:100px !important;
}
.title{
    color: black; 
     margin-left:100px !important;
}
