body{
    background-image: url(images/pozadina.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    background-color: #b30000;
    border: none;
}
#header-color{
    color: white;
    font-weight: bold;
}
#header-color:hover{
    color: lightgoldenrodyellow;
}
#list-in-nav{
    color: white;
    font-weight: bold;
}
#list-in-nav:hover{
    color: lightgoldenrodyellow;
}
.tekst{
    color: white;
    font-size: 13pt;
}
.facebook{
    width: 30px;
    height: 30px;
    background-image: url(images/facebook.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}    
.instagram{
    width: 30px;
    height: 30px;
    background-image: url(images/instagram.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}
h2{
    color: white;
}
#box-one{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaSir.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-one:hover, #box-two:hover, #box-three:hover, #box-four:hover, #box-five:hover, #box-six:hover{
    opacity: 0.8;
}
#box-two{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaRukola.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-three{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaEgg.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-four{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaVegan.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-five{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaTuna.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-six{
    width: 20vw;
    height: 20vw;
    background-image: url(images/pizzaCapriccosia.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
.sastojci{
    font-weight: bold;
}
.kontakti{
    color: white;
}
span{
    color: white;
}
label{
    color: white;
}
#posalji{
    color: #b30000;
}
.dugme{
    color: blue;
}
.dugme:hover{
    text-decoration: none;
    color: blue;
}
.velicina{
    display: inline-block;
    font-weight: bold;
}
