.navbar{
    background-color: red;
}
#header-color{
    color: white;
    font-weight: bold;
}
#header-color:hover{
    color: lightgoldenrodyellow;
}
#list-in-nav{
    color: white;
    font-weight: bold;
}
#list-in-nav:hover{
    color: lightgoldenrodyellow;
}

.facebook{
    width: 30px;
    height: 30px;
    background-image: url(images/facebook.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}    
.instagram{
    width: 30px;
    height: 30px;
    background-image: url(images/instagram.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}
h2{
    color: red;
}
#box-one{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaSir.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-two{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaRukola.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-three{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaEgg.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-four{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaVegan.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-five{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaTuna.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
#box-six{
    width: 300px;
    height: 300px;
    background-image: url(images/pizzaCapriccosia.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 20px 35px;
    border: none;
}
.sastojci{
    font-weight: bold;
}
.dugme{
    color: blue;
}
.dugme:hover{
    text-decoration: none;
    color: blue;
}
