body{
    background-image: url(images/background.png);
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px #999999;
}
.everything{
    position: relative;
    margin: 0px auto;
    width: 55%;
    background-color: #EEEEEE;
    box-shadow: 5px 5px 5px #999999;
    display: flex;
}
.coloum1{
    background-color: #EEEEEE;
}
.coloum2{
    background-color: #A2B964;
}
footer{
    background-color: #A2B964;
    position: relative;
    margin: 0px auto;
    width: 55%;
    text-align: center;
    box-shadow: 5px 5px 5px #999999;
}
.s92{
    color: red;
    font-size: 83px;
    font-weight: bold;
    display: inline-block;
    
}
.zelena-slika{
    background-image: url(images/rbg.png);
    height: 83px;
    margin-bottom: 1rem;
}
.quotebubble{
    border: 2px solid #CCCCCC ;
    padding: 1em;
    border-radius: 12px;
    width: 90%;
    background-color: #FFFFFF;
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    margin-right: 5px;
}
#w3c{
    position: relative;
    float: right;

}